<% title("Searchalia - Australian Company addresses and phone numbers", true) %>
<% content_for(:metadescription) do %>
  <meta name="description" content="<%= "Australian business directory. Search for businesses address and telephones"%>">
<% end %>
<% content_for :canonical do %>
  <link rel="canonical" href="<%= root_url %>">
<% end %>
<div class="row site">
  <div class="mainpage col-md-8">
    <div class="row mainlogo">
        <span class="logotitle col-md-5"><%= link_to "Searchalia", root_path%></span>
        <span class="pagetitle col-md-6"><h1> Find more than <%= number_with_delimiter(Company.count, delimiter: '.') %> local businesses in Australia  </h1></span>
    </div>
    <div class="row search">
      <%= form_tag companies_search_path, :class => "form-inline" do %>
        <%= text_field_tag :query, params[:query] , placeholder: "Company", :class=>"form-control"  %>
        <%= text_field_tag :query_city, params[:query_city] , placeholder: "City" , :class=>"form-control"%>
        <%= submit_tag "Find" , type: "submit", class: "btn btn-primary", :name => nil  %>
      <% end %>
    </div>
  </div>
  <div class="listing col-md-8">
    <p>Companies sorted by state:</p>
    <ul class="lists">
      <% @states.each do |state| %>
        <li class="col-xs-4 col-sm-4"> <span><%= link_to state.name, city_path(state), title: "Cidades en #{state.name}" %> </span></li>
      <% end %>
    </ul>
  </div>
</div>
