<% title(@state.full_name) %>
<% content_for(:metadescription) do %>
  <meta name="description" content="<%= "Phone and address for bussinesses in #{@state.name}"%>">
  <meta name="keywords" content = "<%= keyword_names(@state.keyword_name)%>">
<% end %>
<% content_for :canonical do %>
  <link rel="canonical" href="<%=city_url(@state)%>">
<% end %>
<div class="row site">
  <div class="listing col-sm-8 col-md-12">
    <h1>Cities in <%= @state.name %>, <%= link_to "Australia", root_path %></h1>
    <ul class="lists clearfix">
      <% @cities.each do |city| %>
        <li class="col-xs-4 col-sm-4">
          <span><%= link_to city.name, city_categories_path(city), title: "Bussinesses sorted by categories in #{city.name}" %></span>
        </li>
      <% end %>
    </ul>
    <div class="text-center">
        <%= paginate @cities %>
    </div>
  </div>
</div>
