<%= title "#{@companies.count} businesses for #{params[:query]} - #{params[:query_city]}"%>
<% content_for(:metadescription) do %>
  <meta name="description" content="<%= "#{@companies.count} companhias do #{params[:query]} em #{params[:query_city]}"%>">
  <% end %>
<div class="row site">
  <div class="listing col-sm-8 col-md-12">
    <h1><%=@companies.count%> businesses for <%= params[:query]%> in <%= params[:query_city]%></h1>
      <ul class="lists clearfix">
        <% @companies.each do |company| %>
          <li class="col-xs-4 col-sm-4">
            <span><%= link_to(company.name.capitalize, company_path(company)) %></span>
            <%= company.category.name %>,
            <%= company.city.name %>
          </li>
        <% end %>
      </ul>
        <div class="text-center">
         <%= paginate @companies %>
        </div>

  </div>
</div>
