<% title(@company.full_name) %>
<% content_for(:metadescription) do %>
  <meta name="description" content="<%= "Phone and address, #{@company.full_name}" %>">
  <meta name="keywords" content = "<%= keyword_names(@company.keyword_name)%>">
<% end %>
<% content_for(:canonical) do %>
  <link rel ="canonical" href="<%= company_url(@company)%>">
<%end%>
<div class="row sitecompany">
  <div class="adgoogle">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Searchalia Top Ad -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1633713562816559"
           data-ad-slot="6839827225"
           data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <ol class="breadcrumb">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="<%= root_url %>" itemprop="url" title="Searchalia">
        <span itemprop="title">Searchalia</span>
      </a>
    </li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="<%= city_path(@company.state) %>" itemprop="url" title="<%= @company.state.name + '-' + @company.state.name %>">
        <span itemprop="title"><%= @company.state.name %></span>
      </a>
    </li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="<%= city_categories_path(@company.city) %>" itemprop="url" title="<%= @company.city.name %>">
        <span itemprop="title"><%= @company.city.name %></span>
      </a>
    </li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="<%= city_category_path(@company.city, @company.category) %>" itemprop="url" title="<%= @company.category.name %>">
        <span itemprop="title"><%= @company.category.name %></span>
      </a>
    </li>
    <li class="active" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <span itemprop="title"><%= @company.capitalize_name %></span>
    </li>
  </ol>
  <div class="company col-md-8">
    <div class="row companymain">
      <div class="companyinfo" itemscope itemtype="http://schema.org/LocalBusiness">
        <h1 itemprop="name"><%= @company.name %></h1>
        <div class="category">
          <span class="bigwords">Category </span></br>
          <%= link_to(@company.category.name, city_category_path(@company.city, @company.category)) %>
        </div>
        <div class="Endereço" itemscope itemtype="http://schema.org/PostalAddress">
          <span class="bigwords">Address</span></br>
          <% if @company.address %>
            <span itemprop="address"><%= @company.address %>, </span>
          <% end%>
          <span itemprop="addressLocality"><%= @company.city.name %>,</span>
          <span itemprop="addressRegion"><%= @company.state.name%>,</span>
          <span itemprop="postalCode"><%= @company.postal_code %></span>
        </div>
        <% if @company.telephone?%>
          <div class="telefone" itemprop="telephone">
            <div class="telephoneimg">
              <%= image_tag("telephone.png", :alt => "Telephone")%>
            </div>
            <span class="bigwords">Telephone</span>
            <p><%= @company.telephone %></p>
          </div>
        <% end %>
      </div>
      <div class="ad col-sm">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Searchalia Bottom Ad -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-1633713562816559"
               data-ad-slot="2409627626"
               data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>
  <aside class="aside list-group col-xs-12 col-sm-8 col-md-4">
    <h3 class="list-group-heading nearcompanies"> Near companies from <%= @company.name %>: </h3>
    <ul>
      <li class="ad-aside">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Aside Ad -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1633713562816559"
             data-ad-slot="3287366422"
             data-ad-format="rectangle"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </li>
      <% @company.category_company.each do |company| %>
        <% if company == @company %>
        <% else %>
          <li class="list-group-item">
            <p class="list-group-item-heading"><%= link_to(company.capitalize_name, company_path(company)) %></p>
            <p class="list-group-item-text"><%= company.category.name %>,
            <%= company.city.name %> - <%= company.state.name %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </aside>
</div>
