<% title(@city.full_name) %>
<% content_for(:metadescription) do %>
  <meta name="description" content="<%= "Phone and address for bussinesses in #{@city.name}, #{@city.state.name}" %>">
  <meta name="keywords" content = "<%= keyword_names(@city.keyword_name)%>">
<% end %>
<% content_for(:canonical) do %>
  <link rel ="canonical" href="<%=city_categories_url(@city)%>">
<%end%>
<div class="row site">
  <div class="listing col-md-12">
    <h1> Categories in <%= @city.name %>, <%= link_to(@city.state.name, city_path(@city.state)) %></h1>
    <ul class="lists clearfix">
      <% @categories.each do |category| %>
        <li class="col-xs-4 col-sm-4">
          <span><%= link_to category.name, city_category_path(@city,category), title: "#{category.name} businesses in #{@city.name}, #{@city.state.name}" %></span>
        </li>
      <%end%>
    </ul>
    <div class="text-center">
        <%= paginate @categories %>
    </div>
  </div>
</div>
