body{
  border-top: 5px solid #2567a5;
  text-decoration: none;
  font-size: 10px;

  a:hover{
  text-decoration:none;
  }
}
.row{
  margin: 0 0 0 0;
}
.sitecompany{
  margin: 10px 0 0 0;
  .adgoogle{
    text-align: center;
    .top-ad{
      margin: 0 auto;
    }
  }
}

ul {
  color: #888;

  li {
    display:inline-block;
  }
}

.company {
  margin-bottom: 10px;
  padding: 0 0 20px 20px;

  .adtop{
    max-height: 100px;
  }

  .companymain {
    display: block;

    .ad {
      margin: 20px auto;
    }
    .companyinfo{
      div{
        margin-bottom: 15px;
      }
      margin: 0 auto;
      font-size: 1.6em;

      h1 {
        font-size: 1.56em;
        font-weight: bold;
        margin-bottom: 1.2em;
      }

      .bigwords {
        font-size: 1.43em;
        margin: 0 auto 0 auto;
      }
      .telefone{
        margin-top: 5px;
        h2{
          display:inline;
        }
        p{
          font-size: 1.25em;
        }
        .telephoneimg{
        float:left;
        margin: 10px 5px;
        width: 45px;
        height: 100%;
        display: inline;
        }
      }
    }
  }
}

.listing{
  float: center;
  margin: 0 auto;
  margin-top: 70px;
  border-top: 1px solid #ddd;
  h1{
    font-size: 2.4em;
  }
  h2{
    font-size: 2.4em;
  }
  p{
    font-size: 2.4em;
  }
}

.lists{
  a:hover{
    text-decoration: underline;
  }
  span{
    margin: 3px;
    font-size: 1.8em;
  }
  li {
  float: left;
  list-style: none;
  }
  a{
    color: #888;
  }
}

.site{
  margin: 30px 0 0 0;
}

.mainpage{
  margin: 0 auto;
  padding-top: 170px;

  .form-inline{
  margin-bottom: 50px;
  }

  .form-control{
    font-size: 1.8em;
  }
}

.mainlogo{
  margin: 0 auto 20px 0px;

  .pagetitle{
    font-size: 50px;
    float: left;
    border-left: 1px solid #ddd;
    padding: 0 5px 0 5px;
    margin: 15px auto 15px auto;
  }
  .logotitle {
    padding: 0;
    margin-right: 5px;
  }

  h1{
    font-size: 18px;
    margin: 0px;
  }
  a{
    font-size: 5em;
    float: left;
    padding-right: 5px;
  }
}

.warning{
  font-size: 3em;
}

.aside {
  padding-left: 15px;

  .ad-aside{
  width: 336px;
  max-height: 280px;
  }

  .nearcompanies {
    font-size: 1.8em;
    margin-bottom: 15px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    margin-bottom: 15px;
  }

  p{
    font-size: 1.4em;
  }
}

.logo{
  margin-left: auto;
  margin-right:auto;

  span{
    font-size: 4em;
    float: left;
    padding: 5px 5px 0 5px;
    margin: 10px;
  }

  .form-inline{
  padding-top: 25px;
  }
  .form-control{
    font-size: 1.6em;
  }
}
.breadcrumb{
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 1.1em;
  background-color: transparent;
}

.footer{
  font-size: 1.5em;
  padding-top: 15px;
  border-top: 10px solid #444;
  ul{
    float: right;
    }
  li{
    padding-right: 5px;
    border-right: 1px solid #23527c;
  }
}

@media (max-width: 725px) {
    .logo {
      text-align: center;

      span {
        float: none;
      }

      form {
        display: none;
      }
    }

    .breadcrumb {
      display: none;
    }

    .sitecompany{
      margin-top: 0;
    }

    .site{
      margin-top: 15px;
    }
    .mainpage{
      padding-top: 0;

      .form-inline{
        margin-bottom: 15px;
      }
    }
    .listing {
      margin-top: 20px;

      .lists{
        padding-left: 0px;

        li{
          font-size: 0.7em;
        }
      }
    }
}
@media (max-width: 991px){
    .mainlogo .pagetitle {
      border-left: none;
    }
}
@media (min-width: 992px){
  .mainpage{
    float: center;
  }
}
