<%= title(@category_full_name)%>
<% content_for(:metadescription) do %>
  <meta name="description" content="<%= "Phone and address for #{@category.name} bussiness in #{@city.name}"%>">
  <meta name="keywords" content = "<%= keyword_names(@category.keyword_name(@city))%>">
  <% content_for :canonical do %>
  <link rel="canonical" href="<%=city_category_url(@city,@category)%>">
<% end %>
  <% end %>
<div class="row site">
  <div class="listing col-md-12">
    <h1><%= @category.name %> companies in <%= link_to(@city.name, city_categories_path(@city, @categories))%></h1>
    <ul class="lists clearfix">
      <% @companies.each do |company| %>
      <li class="col-xs-4 col-sm-4">
        <span><%= link_to company.capitalize_name, company_path(company), title: "#{company.name} company in #{company.city.name}" %></span>
       </li>
      <%end%>
    </ul>
    <div class="text-center">
      <ul class="pagination">
        <%= paginate @companies %>
      </ul>
    </div>
  </div>
</div>
