<div class="footer">
  <div class ="navbar-inner">
    <ul>
 Companies in other countries:
  <li><%= link_to "Brasil","http://www.brasilist.com.br", {:title => "Company address and telephones in Brasil"} %></li>
  <li><%= link_to "Portugal","http://www.searchalia.pt", {:title => "Company address and telephones in Portugal"} %></li>
  </ul>
    <div class = "container footer-margin-top">
      <p> ©au.searchalia.com <%= Time.now.year %> - Business directory </p>
    </div>
  </div>
</div>
