<div class="row logo">
  <span class="col-md-3"><%= link_to "Searchalia", root_path %></span>
  <%= form_tag companies_search_path, :class => "form-inline" do %>
    <%= text_field_tag :query, params[:query] , placeholder: "Company", :class=>"form-control col-md-2"  %>
    <%= text_field_tag :query_city, params[:query_city] , placeholder: "City" , :class=>"form-control col-md-2"%>
    <%= submit_tag "Find" , type: 'submit', class: "btn btn-primary col-md-2",  :name => nil %>
  <% end %>
</div>
